.destination{
    margin:4rem 6rem;
}

.des-body{
    margin:4rem 4rem;
}

.des-title{
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 20px 10px;
}

.des-title h1{
    font-size: 3rem;
}

.des-body{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-body-reverse{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 6.5rem 4rem 4rem 4rem;
}


.des1{
    width:45%;
    text-align: start;
    font-size: 1.1rem;
}

.des1 h2, .des1 p{
    padding-bottom: 1rem;
    text-align: justify;
}

.des2{
    display: flex;
    position: relative;
    width:50%;
    justify-content: space-between;
    z-index: -99;
}

.des2 img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.des-body-reverse img{
    margin-top:2rem;
}

.des2 img:nth-child(2){
    position: absolute;
    top:-10%;
    right: 0;
}



@media screen and (max-width :576px) {
    .destination,.des-body,.des-body-reverse{
        margin:2rem  2rem;
    }

    .des-title{
        font-size: 1.0rem;
        margin: 5px 5px;
    }

    .des-body{
        display:flex;
        flex-direction: column-reverse;
    }

    .des-body-reverse{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .des1{
        width:100%;
        margin:30px 2px;
        text-align: center;
    }

    .des2{
        width:100%;
        margin: 1.8rem 0;
    }

    .des2 img{
        height: 250px;
    }
}